# --- Python Build Artifacts (The culprit) ---
*.egg-info/
build/
dist/
__pycache__/
*.py[cod]

# --- Environment & Secrets ---
.env
.venv
.venv-final/

# --- System & Logs ---
.DS_Store
*.log
.vscode/
.idea/

# --- Streamlit ---
.streamlit/secrets.toml